
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.head {
  background-color: #2660ff;
  height: 65px;
  padding: 3px;
 align-items: center;
  display: flex;
  color: rgb(255, 255, 255);
  box-shadow: 0px 1px 15px 4px rgb(0 0 0 / 25%);
}

.logo{
  font-size:26px;
  font-family: 'Audiowide', cursive;
  font-weight: 600;
}