p {
  font-family: Lato;
}
.navi{
  width: 20%;
}
.rl{
 right: 90%;
}
/* nav {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 260px;
  position: fixed;
  z-index: 50;
  transform: translateX(-260px);
  transition: transform 0.3s ease-in-out;
}

nav:after {
  content: '';
  background: deepskyblue;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 31;
  right: -10px;
  top: 40px;
  border-radius: 20%;
}
nav::before{
  font-family: "FontAwesome";
  content: "\f0c9";
}
nav:hover {
  transform: translateX(0px);
} */
